@import "./tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Rethink+Sans:wght@400;500;600;700;800&family=Roboto:wght@100;400;500;700;900&display=swap");
:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  scroll-behavior: smooth;
  height: 1600px;
  background-color: #f5f5f5;
  height: 1300px;
}
.homePage {
  background-image: url("/img/back.jpg");
  background-size: cover;
  background-position: center center;
}
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p {
  font-family: "Inter", sans-serif;
}
.card {
  background-size: cover;
  background-position: center center;
}
.card-one {
  background-image: url("/img/mobilia.jpg");
}
.card-two {
  background-image: url("/img/food.jpg");
}
.card-three {
  background-image: url("/img/domesticos.jpg");
}
.card-four {
  background-image: url("/img/woman.jpg");
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 1s ease-in-out;
}
.card__image:nth-child(1) {
  background-image: url("/img/cos1.jpg");
}
.card__image:nth-child(2) {
  background-image: url("/img/cos2.jpg");
}
.card__image:nth-child(3) {
  background-image: url("/img/cos3.jpg");
}
.card__image:nth-child(4) {
  background-image: url("/img/cos4.jpg");
}
.animationDown {
  animation: cardDownAnimation 0.6s 0.4s ease-in-out forwards;
}
.RemoveanimationDown {
  animation: RemovecardDownAnimation 1s ease-in-out forwards;
}
.animationUp {
  animation: cardUpAnimation 0.6s 0.4s ease-in-out forwards;
}
.RemoveanimationUp {
  animation: RemovecardUpAnimation 1s ease-in-out forwards;
}
.cardTalho {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}
.cardTalho:hover .maskTalho{
  background-color: transparent;
}
.maskTalho{
  transition: all .15s ease-in-out;
  background-color: rgba(0,0,0,0.5)
}
@keyframes cardDownAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2rem);
  }
}
@keyframes RemovecardDownAnimation {
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes cardUpAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}
@keyframes RemovecardUpAnimation {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0);
  }
}
